.cabecera1_centro{
    position: absolute;
    left: 0;
    right: 0;
    width: 174px;
    margin: 0 auto;
    padding: 11px 0;
    text-align: center;
}

.cabecera1_derecha {

}

.cabecera1_izquierda {

}

.menu_portada {
display:none;
}
.menu_portada:hover{
    display:block;
    color:green;
}

.cabecera2 {

}

.seccion_principal_portada {

}

.articulo_principal_portada {

}

.cabecera_articulo_principal {

}

.articulo_secundario_portada {

}

.cabecera_articulo_secundario {

}

.pestaña_vertical {

}

.enlace_pestaña {

}

.contenido_pestaña {

}
